@page "/Account/{path}"

<AuthorizeView>
    <NotAuthorized>
        <div id="firebaseui-auth-container"></div>
    </NotAuthorized>
    <Authorized>
        <!-- todo: put something ehre -->
    </Authorized>
</AuthorizeView>